@page "/"
@inject CounterProcessor counterProcessor
@implements IDisposable

<PageTitle>Counter</PageTitle>

<div class="row">
    <Dynamic_Counter counter="1" passedValue="@counterProcessor.counter.Counter1" flag="1"></Dynamic_Counter>
    <Dynamic_Counter counter="2" passedValue="@counterProcessor.counter.Counter2" flag="2"></Dynamic_Counter>
</div>

<hr />

<div class="row">
    <Dynamic_Counter counter="3" passedValue="@counterProcessor.counter.Counter3" flag="3"></Dynamic_Counter>
    <Dynamic_Counter counter="4" passedValue="@counterProcessor.counter.Counter4" flag="4"></Dynamic_Counter>
</div>

<Logger log="@counterProcessor.counter.Log"></Logger>

@code {
    protected override void OnInitialized()
    {
        counterProcessor.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        counterProcessor.counter = new Models.Counter();
        counterProcessor.OnChange -= StateHasChanged;
    }
}
